.app-container {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 85px;
}

.app-info-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 5px;
}

.app-info-container p {
    color: #e9dcff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 5px;
}

.app-info-container h1 {
    font-size: 55px;
    color: #ffffff;
}